/* Eu fiz esses arquivos css em pastas para caso haja alguma alteração específica no css para não ficar mexendo no bootstrap */
.img-fluid{
    max-width: 70%;
    margin-top: 7px;
    position: static;
    transform: translateY(20px);
    animation: slideIn 1s forwards;
}

.img-fluid1 {
    max-width: 90%;
    height: auto;
    margin-top: 23px;
    position: static;
}

.img-fluid2 {
    max-width: 90%;
    height: auto;
    margin-top: 23px;
    position: static;
}

.img-fluid3 {
    max-width: 90%;
    height: auto;
    margin-top: 23px;
    position: static;
}

.ftco-section{
    padding: 7em 0;
}

.sidebar-box {
    margin-bottom: 40px;
    font-size: 15px;
    width: 100%;
    float: left;
}

.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    list-style: none;
}

a {
    color: #1a6949;
    text-decoration: underline;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px); /* Ponto inicial: 20px para baixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Ponto final: posição original */
  }
}

.sobre1 {
    color: white;
}
.sobre2 {
    color: white;
}

.sobre3 {
    color:white;
}
.texto1 {
    color: #ffffffff;
}

.boardTexto 
{
    background-color: #6B9160 !important;
    border-radius: 10px;
    padding: 1rem;
}