.navbar{
    background: #966631 /*#c79a69*/ !important;
}

.navbar-nav > .nav-item.active > a {
    color: #91c582 /*#1a6904*/ !important;
}

.navbar-nav > .nav-item.active > a:before {
    background-color: #1a6904 !important;
}

.navbar-nav > .nav-item-active-btn > a{
    color:white;
}

.nav-link{
    color: white;
    margin-inline: 20px;
    text-align: center;
    
}

/* css da navbar  */
.container-nav{
    margin-inline-start: 5px;
    
}

/* css do botão de login */
.btn-login{
    color:white;
    background-color: #1a6904;
    padding-inline: 20px;
}

.btn-login:hover {
    background-color: #229203;
    color:white;
}

.nav-item.active > .btn-login:before{
    color:white;
}


